// font sizes
$normal-text-size: 1rem;
$min-text-size: 0.875rem;
$medium-text-size: 1.5rem;
$huge-text-size: 4.5rem;

// colors
$backgroundColor: #28293E;
$backgroundColorPlus: rgb(36, 36, 53);
$buttonColor: #EF6D58;
$buttonColorPlus: #EF6D70;
$whiteColor: #fff;
$secondBackground: #FDF0E9;
$bordersecondcolor: #F3D1BF;
$brown: #391400;
$lightbrown: rgba(57, 20, 0, 0.64);
$butcolor: #EF6C57;

// font
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



